body
   background-color: #fff
.tutorial-layout
   position: absolute
   top: 0
   left: 0
   width: 100%
   height: 100%
   background-color: white
   .tutorial-bg-image
      max-height: 100vh
      max-width: 100%
      opacity: 0
   .tutorial-logo
      //display: none
      opacity: 0.5
      position: absolute
      top: -1000px
      left: 50%
      transform: translateX(-50%)
   .scroll-down
      position: absolute
      top: 80vh
      left: 50%
      opacity: 0
      transform: translateX(-50%)
      .scroll-mobile
         line-height: 1.2
         p
            color: #1d68a7
            text-decoration: underline

      p
         color: #0e0e0e
         font-size: 25px
         font-weight: 500
      .dots
         position: relative
         text-align: center
         overflow: hidden
         max-height: 56px
         img
            animation: scroll 2s infinite linear

   .skip
      position: fixed
      right: 30px
      bottom: 30px
      color: #0e0e0e
      font-size: 25px
      font-weight: 500

#tutorial_main
   display: none
   overflow: hidden
   .tutorial-list
      margin: 30px 130px
      margin-bottom: 60px
      border-bottom: 5px solid #CACED2
      padding: 0
      position: relative
      .tutorial-item
         position: relative
         padding: 60px 10px 20px 90px
         border-left: 5px solid #CACED2
         max-width: 685px
         width: 50%
         list-style: none
         box-sizing: content-box
         cursor: pointer

         .num
            position: absolute
            top: 0
            left: -28px
            width: 50px
            height: 50px
            border-radius: 50%
            background-color: #CACED2
            font-size: 32px
            text-align: center
            color: #CACED2
            transition: all 0.5s ease-in
            &.active
               background-color: #F97333
               color: white
         h2
            font-size: 50px
            font-weight: bold
            opacity: 0.1
            transition: all 0.3s ease-in
         p
            font-size: 22px
            //opacity: 0.8
            opacity: 0.1
            transition: all 0.3s ease-in
      .tutorial-item.active
         opacity: 1

         h2
            opacity: 1
         p
            opacity: 0.8
      .dump-logo
         position: absolute
         bottom: -52px
         right: 0
      .skip
         position: absolute
         right: 150px
         bottom: 0
         color: #707070
         font-size: 25px
         font-weight: 500
         line-height: 1.2
         &:active, &:hover
            text-decoration: none
@keyframes scroll
   0%
      transform: translate(0, 0)

   100%
      transform: translate(0, -10%)

@media (max-width: 991px)
   .tutorial-layout
      .tutorial-bg-image
         display: none
      .tutorial-logo
         max-width: 90%
      .scroll-down
         p
            text-align: center

   #tutorial_main
      display: none
      overflow: scroll
      .tutorial-list
         margin: 30px
         margin-bottom: 60px

         .tutorial-item
            position: relative
            padding: 60px 10px 20px 30px
            width: auto
            .num
               position: absolute
               top: 0
               left: -28px
               width: 50px
               height: 50px
               border-radius: 50%
               background-color: #F97333
               font-size: 32px
               text-align: center
               color: #fff
               transition: all 0.5s ease-in

            h2
               font-size: 40px
               opacity: 1

            p
               font-size: 20px
               opacity: 1

            &:last-of-type
               padding-bottom: 60px
         .dump-logo
            position: absolute
            bottom: -52px
            right: 0
         .skip
            position: absolute
            right: 150px
            bottom: 5px
            color: #707070
            font-size: 22px
            font-weight: 500
            line-height: 1.2
            &:active, &:hover
               text-decoration: none

@media (max-width: 575px)
   .tutorial-layout
      .tutorial-bg-image
         display: none
      .tutorial-logo
         top: -800px
         max-width: 90%
      .scroll-down
         position: absolute
         bottom: 50px
         left: 50%
         opacity: 0
         transform: translateX(-50%)
         width: 80%
         p
            color: #0e0e0e
            font-size: 18px
            font-weight: 500
         .dots
            position: relative
            text-align: center
            overflow: hidden
            max-height: 56px
            img
               animation: scroll 2s infinite linear
      .skip
         position: fixed
         right: 20px
         bottom: 20px
         color: #0e0e0e
         font-size: 14px
         font-weight: 500
   #tutorial_main
      display: none
      overflow: scroll
      .tutorial-list
         margin: 30px
         margin-bottom: 50px

         .tutorial-item
            position: relative
            padding: 50px 10px 20px 20px
            width: auto
            .num
               position: absolute
               top: 0
               left: -25px
               width: 44px
               height: 44px
               border-radius: 50%
               background-color: #F97333
               font-size: 28px
               text-align: center
               color: #fff
               transition: all 0.5s ease-in

            h2
               font-size: 32px
               opacity: 1

            p
               font-size: 16px
               opacity: 1

            &:last-of-type
               padding-bottom: 60px
         .dump-logo
            position: absolute
            bottom: -30px
            max-width: 50px
            right: -1px
         .skip
            position: absolute
            right: 65px
            bottom: 5px
            color: #707070
            font-size: 14px
            font-weight: 500
            line-height: 1.2
            &:active, &:hover
               text-decoration: none


