body {
    background-color: #2D3A4D;
    /*background: url(/bg.png) repeat;
    background-size: 236px 234px;*/
}
body svg{
    fill: #777777 !important;
}
.logo-circle {
    width: 2rem; height: 2rem
}
.bg-violet {
    background-color: #640CAB;
}
a.bg-violet:hover, button.bg-violet:hover {
    background-color: #480082;
}
.bg-blue {
    background-color: #4A67F5;
}
a.bg-blue:hover, button.bg-blue:hover {
    background-color: #0056e1;
}
.bg-green {
    background-color: #00B060;
}
a.bg-green:hover, button.bg-green:hover {
    background-color: #00A444;
}
.bg-deep-blue {
    background-color: #000367;
}
a.bg-deep-blue:hover, button.bg-deep-blue:hover {
    background-color: #000049;
}
.bg-light-black {
    background-color: #222C3A;
}
.bg-deep-dark {
    background-color: #2D3A4D;
}
.bg-deep-dark:focus {
    background-color: #2D3A4D;
}
.bg-orange {
    background-color: #F97333;
}
.bg-dark-green {
    background-color: #6F6F6F;
}
.bg-black {
    background-color: #202020;
}
.text-gray {
    color: #707070;
}
.border-gray {
    border-color: #707070;
}
.pointer {
    cursor: pointer;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-10 {
    font-size: 10px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-22 {
    font-size: 22px;
}
.font-size-25 {
    font-size: 25px;
}
.font-size-30 {
    font-size: 30px;
}
.font-size-35 {
    font-size: 35px;
}
.font-size-40 {
    font-size: 40px;
}
.font-size-50 {
    font-size: 50px;
}
.font-size-100 {
    font-size: 100px;
}
.c_rounded {
    border-radius: 0.50rem; !important;
}
.c_rounded-right {
    border-bottom-right-radius: 0.50rem;
    border-top-right-radius: 0.50rem;
}
.c_rounder-top {
    border-top-right-radius: 0.50rem;
    border-top-left-radius: 0.50rem;
}
.avatar {
    vertical-align: middle;
    margin: 0 auto;
}
.circle {
    border-radius: 50%;
}
.square {
    border-radius: 0;
}
.min-width-60 {
    min-width: 60px; !important;
}
.min-width-70 {
    min-width: 70px !important;
}
.min-width-90 {
    min-width: 90px; !important;
}
.square-1rem {
    height: 1rem;
    width: 1rem;
}
.square-2rem {
    height: 2rem;
    width: 2rem;
}
.square-30 {
    width: 30px;
    height: 30px;
}
.square-54 {
    min-width: 54px;
    min-width: 54px;
}
.square-80 {
    width: 80px;
    height: 80px;
}
.square-100 {
    width: 100px;
    height: 100px;
}
.square-330 {
    width: 330px;
    height: 330px;
}
#profile-bar .nav-link {
    color: #3F3D56;
}
#profile-bar .nav-link.active {
    color: #0076de;
}

ul.tick {
    list-style: none;
}
ul.tick li:before {
    margin-right: 5px;
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url("/tick.png");
    background-size: 100%;
}
.order_div {
    height: 60px;
    position: relative;
}
.order_circle {
    font-size: 36px;
    position: absolute;
    left: -30px;
}
.nowrap {
    white-space: nowrap;
    overflow: hidden;
}
.btn-outline-p {
    color: #0076de;
    border-color: #0076de;
}
.btn-outline-p:hover {
    color: #fff;
    background-color: #0076de;
    border-color: #0076de;
}
.btn-outline-p.active {
    z-index: 1;
    color: #fff;
    background-color: #0076de;
    border-color: #0076de;
}
.btn-outline-p:disabled {
    color: #3490dc;
    background-color: transparent;
}
.try {
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.shadow-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,   0.19);
}
