body {
    background: url(/bg.png) repeat;
    background-size: 236px 234px;
}
.logo-circle {
    width: 2rem; height: 2rem
}
.bg-violet {
    background-color: #640CAB;
}
a.bg-violet:hover, button.bg-violet:hover {
    background-color: #480082;
}
.bg-blue {
    background-color: #0076de;
}
a.bg-blue:hover, button.bg-blue:hover {
    background-color: #0056e1;
}
.bg-green {
    background-color: #00B060;
}
a.bg-green:hover, button.bg-green:hover {
    background-color: #00A444;
}
.bg-deep-blue {
    background-color: #000367;
}
a.bg-deep-blue:hover, button.bg-deep-blue:hover {
    background-color: #000049;
}
.pointer {
    cursor: pointer;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-10 {
    font-size: 10px;
}
.c_rounded {
    border-radius: 0.50rem; !important;
}
.c_rounded-right {
    border-bottom-right-radius: 0.50rem;
    border-top-right-radius: 0.50rem;
}
.c_rounder-top {
    border-top-right-radius: 0.50rem;
    border-top-left-radius: 0.50rem;
}
.avatar {
    vertical-align: middle;
    margin: 0 auto;
}
.circle {
    border-radius: 50%;
}
.square {
    border-radius: 0;
}
.min-width-60 {
    min-width: 60px; !important;
}
.min-width-70 {
    min-width: 70px !important;
}
.min-width-90 {
    min-width: 90px; !important;
}
.square-1rem {
    height: 1rem;
    width: 1rem;
}
.square-2rem {
    height: 2rem;
    width: 2rem;
}
.square-30 {
    width: 30px;
    height: 30px;
}
.square-60 {
    width: 60px;
    height: 60px;
}
.square-80 {
    width: 80px;
    height: 80px;
}
.square-100 {
    width: 100px;
    height: 100px;
}
.square-330 {
    width: 330px;
    height: 330px;
}
#profile-bar .nav-link {
    color: #3F3D56;
}
#profile-bar .nav-link.active {
    color: #0076de;
}

ul.tick {
    list-style: none;
}
ul.tick li:before {
    margin-right: 5px;
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url("/tick.png");
    background-size: 100%;
}
.order_div {
    height: 60px;
    position: relative;
}
.order_circle {
    font-size: 36px;
    position: absolute;
    left: -30px;
}
.nowrap {
    white-space: nowrap;
    overflow: hidden;
}
.pagination-selected {
    text-decoration: underline;
}

.btn-outline-p {
    color: #0076de;
    border-color: #0076de;
}
.btn-outline-p:hover {
    color: #fff;
    background-color: #0076de;
    border-color: #0076de;
}
