body {
  background-color: #fff;
}

.tutorial-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.tutorial-layout .tutorial-bg-image {
  max-height: 100vh;
  max-width: 100%;
  opacity: 0;
}

.tutorial-layout .tutorial-logo {
  opacity: 0.5;
  position: absolute;
  top: -1000px;
  left: 50%;
  transform: translateX(-50%);
}

.tutorial-layout .scroll-down {
  position: absolute;
  top: 80vh;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
}

.tutorial-layout .scroll-down p {
  color: #0e0e0e;
  font-size: 25px;
  font-weight: 500;
}

.tutorial-layout .scroll-down .dots {
  position: relative;
  text-align: center;
  overflow: hidden;
  max-height: 56px;
}

.tutorial-layout .scroll-down .dots img {
  -webkit-animation: scroll 2s infinite linear;
          animation: scroll 2s infinite linear;
}

.tutorial-layout .skip {
  position: fixed;
  right: 30px;
  bottom: 30px;
  color: #0e0e0e;
  font-size: 25px;
  font-weight: 500;
}

#tutorial_main {
  display: none;
  overflow: hidden;
}

#tutorial_main .tutorial-list {
  margin: 30px 130px;
  margin-bottom: 60px;
  border-bottom: 5px solid #CACED2;
  padding: 0;
  position: relative;
}

#tutorial_main .tutorial-list .tutorial-item {
  position: relative;
  padding: 60px 10px 20px 90px;
  border-left: 5px solid #CACED2;
  max-width: 685px;
  width: 50%;
  list-style: none;
  box-sizing: content-box;
  cursor: pointer;
}

#tutorial_main .tutorial-list .tutorial-item .num {
  position: absolute;
  top: 0;
  left: -28px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #CACED2;
  font-size: 32px;
  text-align: center;
  color: #CACED2;
  transition: all 0.5s ease-in;
}

#tutorial_main .tutorial-list .tutorial-item .num.active {
  background-color: #F97333;
  color: white;
}

#tutorial_main .tutorial-list .tutorial-item h2 {
  font-size: 50px;
  font-weight: bold;
  opacity: 0.1;
  transition: all 0.3s ease-in;
}

#tutorial_main .tutorial-list .tutorial-item p {
  font-size: 22px;
  opacity: 0.1;
  transition: all 0.3s ease-in;
}

#tutorial_main .tutorial-list .tutorial-item.active {
  opacity: 1;
}

#tutorial_main .tutorial-list .tutorial-item.active h2 {
  opacity: 1;
}

#tutorial_main .tutorial-list .tutorial-item.active p {
  opacity: 0.8;
}

#tutorial_main .tutorial-list .dump-logo {
  position: absolute;
  bottom: -52px;
  right: 0;
}

#tutorial_main .tutorial-list .skip {
  position: absolute;
  right: 150px;
  bottom: 0;
  color: #707070;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
}

#tutorial_main .tutorial-list .skip:active,
#tutorial_main .tutorial-list .skip:hover {
  text-decoration: none;
}

@-webkit-keyframes scroll {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -10%);
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -10%);
  }
}

